$labYellow: rgb(247, 182, 23);
$labGray: rgb(43, 43, 43);
$break-small: 320px;
$break-medium:767px;
$break-large:1200px;
$column:8.333%;
$white:#fff;
$text-align: center;
$padding: 4vh;
$margin:2vh;
$font-title:3vh;
$font-text:2vh;
$labFont: 'Lato', sans-serif;
