@import "variables";
@import "mixin";

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: $labFont;
}
header{
  background: $labYellow;
  color:$white;
  padding: $padding;
}
.container {
  width: 100%;
  margin: 0 auto;
}

.contenedor-categorias{
  padding: $padding;
  // margin-top:$margin-top;
  @media (min-width: $break-small) {
    @include grid (12);
    }
  @media (min-width: $break-medium) {
    @include grid (4);
    }
  @media (min-width: $break-large) {
    @include grid (3);
    }
}
.categorias{
  background: $labGray;
  list-style: none;
  color:$white;
  margin-top:$margin;
  padding: $padding;
  // @extend .contenedor-categorias
&.categorias:hover{
  background: $labYellow;
}
}
.categoriaDos{
  background: $labGray;
  @media (min-width: $break-small) {
    background: $labYellow;
    }
  @media (min-width: $break-medium) {
    background: $labYellow;
    }
}

.contenedor-lista{
  margin-top: $margin;
  margin-bottom: $margin;
  @media (min-width: $break-small) {
    @include grid (12);
    }
  @media (min-width: $break-medium) {
    @include grid (8);
    }
  @media (min-width: $break-large) {
    @include grid (6);
  }& #lista-alumnas{
    list-style: none;
  }
}

.aside{
  background: $labGray;
  color: $white;
  text-align: $text-align;
  padding: $padding;
  margin-top: $margin;
  font-size: $font-text;
  @media (min-width: $break-small) {
    @include grid (12);
    }
  @media (min-width: $break-medium) {
    @include grid (12);
    }
  @media (min-width: $break-large) {
    @include grid (3);
  }& h2{
    font-size: $font-title;
  }
}

.footer{
  padding: $padding;
  background: $labGray;
  color: $white;
  text-align: $text-align;
  @include grid (12);
}